{{#partial "content"}}

        <div >
{{ item }}

            <h3>Hurray!!! <br>
                <span>{{ item }} </span> <br>
                 created <br>{{sqId}}</h3>

            <a href="/hero">See heroes</a>
            <a href="/squad">See squads</a>


        </div>

{{/partial}}
{{> layout.hbs}}